/* Reset de estilos y estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: cadetblue;
}

/* Estilos del encabezado y navegación */
header {
  background: #212121;
  color: #fff;
  padding: 10px 0;
}

nav {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Estilos del área principal */
.hero {
  background: url("#") center/cover;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #212021;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  color: #fff;
  box-shadow: #212021 0px 0px 10px;
}

/* Estilos del pie de página */
footer {
  background: #212121;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}

/* Estilo para el contenedor del formulario */
#inputForm {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: #212021;
}

/* Estilo para las etiquetas del formulario */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilo para los campos de entrada del formulario */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón del formulario */
#submitBtn {
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilo para el botón al pasar el mouse sobre él */
#submitBtn:hover {
  background-color: #212121;
}

/* Estilo para el párrafo de salida */
#output {
  margin-top: 20px;
  font-weight: bold;
}
